
    
    *{
        margin: 0;
        padding:0;

    }
    .eraser_img{
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 2rem;
    }
    .black-pencil-img{
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 2rem;
    }

    
    .red-pencil-img{

        height: 1.5rem;
        width: 1.5rem;
        margin-right: 2rem;
    }
    .toolbar{
        display: flex;
        justify-content: center;
        background-color: brown;
    }
    
    